{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <button type="submit">Dodaj użytkownika</button>
    {{ form_end(form) }}
{% endblock %}
